    ------
    Developer
    ------
    Hendrik Schreiber
    ------
    ------

Developer

    In essence, the <tagtraum FFmpeg package> is a glorified build script that
    makes it easier for Java JNI projects using Maven to link against {{{https://www.ffmpeg.org}FFmpeg}}
    libraries.

    To build the <tagtraum FFmpeg package>, you need:

        * Maven

        * A suitable GCC toolchain

        * YASM

        * a JDK (to run Maven)

    Once you have all this set up, clone the repository like this:

+-------------------------------+
git clone git@github.com:hendriks73/tagtraum-FFmpeg-package.git tagtraum-ffmpeg-package
+-------------------------------+

    Once all pre-requisites are in place, you must invoke the *right* profile.
    Automatic activation is *off* by default.

    To build the package for macOS (x86_64), run

+-------------------------------+
mvn --activate-profiles compile,ffmpeg-x86_64-macos install
+-------------------------------+

    The profile <<<compile>>> ensures that FFmpeg and other sources are downloaded and built.
    <<<ffmpeg-x86_64-macos>>> packages the resulting static library files <<<*.a>>> into a jar
    with the artifact name <<<ffmpeg-x86_64-macos>>> and group id <<<com.tagtraum>>>.

    If you would like to change the FFmpeg configuration, add

+-------------------------------+
"-Dffmpeg.configure=--enable-static --disable-programs ... "
+-------------------------------+

    Note that you need to add quotes around the entire <<<-D>>> parameter to allow for spaces
    in the value part.


    If you decide to release a custom built of this package via a public Maven repository,
    you <must> use a different Maven <<<groupId>>> and honor LGPL 2.1.