    ------
    Introduction
    ------
    Hendrik Schreiber
    ------
    ------

Introduction

    The <tagtraum FFmpeg package> is a binary release of some of the libraries released by
    the {{{https://www.ffmpeg.org/}FFmpeg\u2122}} project. Its purpose is to provide easy access
    to Windows and macOS binaries and
    {{{https://www.beatunes.com/repo/maven2/com/tagtraum/ffmpeg/ffmpeg/${ffmpegversion}/}sources}}
    for decoding audio via a
    {{{https://maven.apache.org/}Maven}} repository.
    Thus it serves as an upstream project for Java
    {{{https://en.wikipedia.org/wiki/Java_Native_Interface}JNI}} projects wishing to interface
    with the native libraries (e.g. {{{https://www.tagtraum.com/ffsampledsp/}FFSampledSP}}).
    Codecs with known patent problems are {{{#Configuration}disabled}}
    (but can be {{{./developer.html}enabled}}).
    However, this obviously is no guarantee.
    Also, as the focus lies on decoding audio, most encoders are {{{#Configuration}disabled}}.
    Note that as of version 1.12.0, mp3 has been enabled as decoder by default.

How to use

    To access the native libraries and sources, add something like this to the dependencies
    section of your {{{https://maven.apache.org/pom.html#What_is_the_POM}pom}}:

---
<dependency>
    <groupId>com.tagtraum</groupId>
    <artifactId>ffmpeg-x86_64-macos</artifactId>
    <!-- <artifactId>ffmpeg-aarch64-macos</artifactId> -->
    <!-- <artifactId>ffmpeg-x86_64-win</artifactId> -->
    <!-- <artifactId>ffmpeg-i386-win</artifactId> -->
    <!-- <artifactId>ffmpeg-x86_64-unix</artifactId> -->
    <version>${projectversion}</version>
</dependency>
---


Requirements

    Both 32 bit and 64 bit are supported on Windows.
    aarch64 and x86_64 on macOS 10.8 or later.
    x86_64 on Linux.

License

    {{{https://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt}LGPL 2.1}}

FFmpeg Sources

    You can find the FFmpeg sources used for this package
    {{{https://www.beatunes.com/repo/maven2/com/tagtraum/ffmpeg/ffmpeg/${ffmpegversion}/}here}}.


Configuration

    FFmpeg was built with the following configuration:

    <<<./configure ${ffmpegconfigure}>>>

    To build with a different configuration, please take a look at the
    {{{./developer.html}developer page}}.
